

/* .newletter {
        text-align: center;
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      } */

/*inicio footer */
footer{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    align-items: center;
}
    footer svg{
        fill: darkblue;
        width: 30px;
        margin-right: 10px;
        }

        footer a{
            text-decoration: none;
            display: flex;
            color: darkblue;
            font-size: 3rem
        }



