.filters{
    padding: 0 20px 30px 30;
    a{
        color: rgb(134, 130, 132);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 4px;
        text-transform: lowercase;
        &:hover{
            color:$mainColor;
        }

    }

}
.filters{
    span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
    }
    select{
        color: $mainColor;
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    li{
        padding-left: 10px;
        list-style: none;
    }

}
.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button{
        margin-left: 10px;
        background-color: $mainColor;
        color: white;
        padding: 6px;
        border: none;
        border-radius: 3px;
    }
    input{
        padding: 6px;
        border-radius: 3px;
        border: none;
        background-color: $mainColor;
    }
}
.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1ft);
    grid-template-rows: 80px repeat(3,300px);
    grid-template-areas:
    "actions actions actions"
    "filters uno uno"
    "filters dos tres"
    "filters dos cuatro";
    gap: 5px;
    section{
        border-radius: 10px;
    }
    .actions{
        padding: 0 30px;
        grid-area: actions;
    }
    .filters{
        grid-area: filters;
    }
    .prod1{
        grid-area: uno;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .prod2{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .prod3{
        grid-area: tres;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod4{
        grid-area: cuatro;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod5{
        grid-area: cinco;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod6{
        grid-area: seis;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod7{
        grid-area: siete;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod8{
        grid-area: ocho;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod9{
        grid-area: nueve;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod10{
        grid-area: diez;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod11{
        grid-area: once;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod12{
        grid-area: doce;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prod13{
        grid-area: trece;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

main{
    section{
        p{
            @include textos(1.2em, 1.6em, black)
        }
        article{
            @include flex(row,flex-end,center)
        }
    }
}