// variables globales

// colors
$mainColor: darkblue;
$secondaryColor: gray; 
$keyColor: darkblue;

// fonts
$mainFont: 'Roboto', sans-serif;
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2.4em;
$textBold: 700;
$textLight: 300;


