// variables globales

// colors
$mainColor: royalblue;
$secondaryColor: gray; 
$keyColor: royalblue;
$whiteColor: white;

// fonts
$mainFont: 'Roboto', sans-serif;
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2.4em;
$textBold: 700;
$textLight: 300;


